<!--The content below is only a placeholder and can be replaced.-->

<div class="container"id="title_"style="text-align:center;font-size:90px;">
  <h1 id="title">
    <img src="https://twemoji.maxcdn.com/2/72x72/1f31d.png">Welcome to QUOTIFY!<img src="https://twemoji.maxcdn.com/2/72x72/1f31d.png">
  </h1>
  <img width="300" alt="Angular Logo" src="http://practicepl.us/images/blog/july/quote_roller_logo_202.png">
</div>
<h1 style="font-size:50px;text-align:center;"><img src="https://twemoji.maxcdn.com/2/72x72/1f600.png">Find Your Best Quotes And Publish Them<img src="https://twemoji.maxcdn.com/2/72x72/1f600.png"></h1>
<br>
<div class="container-fluid">




  <app-quote></app-quote>


</div>
