<h1>Quotes on quotify</h1>
<hr>
<app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
<ul>
    <div *ngFor='let quote of quotes;let i = index'>
        <li >{{quote.name}} due on {{quote.completeDate|date|uppercase}}</li>
        <button  (click)='toogleDetails(i)'>Toogle Details</button>
       <app-quote-details *ngIf="quote.showquote" [quote]='quote' (isComplete)= 'quoteDelete($event,i)'></app-quote-details>
    </div>
</ul>
  <p *ngIf='quotes.length > 5'>You have too many Quotes</p>
